@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 

:root {
  --main-white: #f0f0f0;
  --main-red: #e5ab16;
  --second-red: #e8c468;
  --main-blue: #56932f;
  --main-gray: #000000;
 } 
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box; 
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

.link { 
  text-decoration: underline;
  line-height: 22pt;
  font-size: 90%;
} 

.text-link { 
  text-decoration: underline;
  line-height: 22pt;
  font-size: 100%;
} 

.link:hover, .text-link:hover{ 
  color: #4b76db; 
} /* CSS link hover */

nav ul {
  list-style: none; 
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);   
  z-index: 10;
} 
.nav-list {
  display: flex; 
  margin-right: 2rem;
}

.nav-list a {    
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}   
.nav-list a:hover {
  background: var(--main-blue);
} 
a {
  text-decoration: none;
  color: var(--main-white);
}

/* NAV BAR FOR MOBILE */
@media screen and (max-width: 600px) {
  .nav-list a {    
    display: block;
    font-size: 16px;
    padding: 1rem;
  }   
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}
h1 {
  font-size: 6rem;
}

.welcome-section, .about-section, .skills-section {
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(62deg, #444445 0%, #333234 100%);
}

/* WELCOME SECTION STUFF: */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* "display: flex" gives access to the flexbox arrangement. 
  "flex-direction: column" arranges elements from top to bottom.
  "justify-content: center" puts elements in center of page and not the top.
  "align-items: center" puts elements in center and not the left of the page.
  "width: 100%" ensures the content and background take up the entire page
  "height: 100vh" makes sure this section takes up the entire page, vertically.  
  Original background is black, but that gets covered up by the background image (THIS STUFF MOVED ELSEWHERE) */
}

/* PROJECTS SECTION STUFF */
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
/*   Underlines the header with a white line */
}

/* "Automagic" image grid stuff */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  /* gets the element with the "projects-grid" class (a div), and sets its display to "grid".  */
  /* "grid-template-columns" basically determines the layout of all the columns. In this case, it uses auto-fit to fit any amount of squares on the screen, so long as they can fit. All the squares that cannot fit get pushed down to other columns. The squares can shrink down to a minimum of 320px, and a max of 1 fraction each.
  "width: 100%" makes sure the columns take up the entire width of the screen 
  "margin-bottom: 6rem" determines the amount of space below the grid*/
}

.project, .nav {
  background: var(--main-red);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2px;
}

.active, .project:hover {
  background-color: #e8c468;
}

.project-image {
  height: calc(100% - 5.8rem);
  width: 100%;
  /* "height: calc(100% - 5.8rem);" gives the images uniformity in their height and therefore the amount of background that they 
  cover. width:100% ensures that the images take up the width of the screen, nothing more, nothing less. I wonder how its gets 
  uniform spacing on both sides of the grid */
}

.cert-image {
  /* height: calc(100% - 5.8rem); */
  height: calc(100%);     
  /* ^^^ hope this doesn't effect certs on mobile */
  width: 100%;
}

/* PROJECT STUFF FOR MOBILE */
@media screen and (max-width: 600px) {
  .projects-grid, .feats-grid {
    width: 100%;
    max-width: 1280px;    /* WTF IS THIS FOR AGAIN??? */
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .project-image, .cert-image {
    max-width: 100%;
    min-width: 300px;
    height: auto;
    /* height: 100px; */
  }
}

/* PROJECT STUFF FOR MACBOOK */
@media screen and (min-width: 3000px) {
  .projects-grid, .feats-grid {
    width: 100%;
    /* max-width: 1280px; */
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .project-image, .cert-image {
    max-width: 100%;
    min-width: 300px;
    /* height: calc(100% - 5.8rem); */
    height: 300px;
    /* height: 100px; */
  }
}

.project-title {
    font-size: 2rem;
    padding: 1rem 0.5rem;
}

/* COLLAPSIBLE STUFF */
.collapsible {
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  background-color: var(--main-red);
  color: var(--main-white);
  cursor: pointer;
  padding: 18px;
  width: 30%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-bottom: 5%;
}
.active, .collapsible:hover {
  background-color: #e8c468;
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: var(--main-green);
}

/* SKILLS STUFF */
.skills-section {
  margin: 0 auto 6rem auto;
  margin: 0 auto;
  padding: 10rem 2rem;
 
}

.skills-section p {
  text-align: center;
  max-width: 140px;
  margin: 0 auto 3rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

/*  ABOUT ME STUFF */
.about-section {
    margin: 0 auto 6rem auto;
    margin: 0 auto;
    padding: 10rem 2rem;
    /*margin-bottom: 6rem;
    padding: 10rem 5rem; */
}
.about-section-header , .feats-section-header, .skills-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
  /*   Underlines the header with a white line */
}
/* .about-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
} */
.about-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 24%;
  /* height: 45%; */
  /* height: 60%; */
  height: 600px;
}


/* MOBILE: if screen is less than 500px wide (my phone is 428). SUCCESS.*/
@media screen and (max-width:600px) {   
  .about-image {
    width: 200px;
    height: 33%;
    display: block;
    margin-left: 20%;   /* Defines the space outside the element, on the right side. */
    margin-right: 20%;        
  }
}

/* ABOUT IMAGE FOR MACBOOK */
@media screen and (min-width:3000px) {   
  .about-image {
    width: 200px;
    height: 25%;
    display: block;
    margin-left: 20%;   /* Defines the space outside the element, on the right side. */
    margin-right: 20%;        
  }
}

section ul {
  display: table; 
  margin: 0 auto;
  text-align: left;
}

figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
/*  CENTERS THE IMAGE CAPTION  */
}

/* ACCOMPLISHMENTS STUFF  */
.feats-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
  /* aligns eveything in the middle of the page, with 20rem and 2rem vertical and horizontal padding. */
  /* box-shadow: 1px 1px 2px rgb(0 0 0 / 50%); */
}

/* .active, .collapsible:hover {
  background-color: #e8c468;
} */
.feats-grid a:hover {
  /* box-shadow: 1px 1px 2px rgb(0 0 0 / 50%); */
  box-shadow: 5px 5px 7px rgb(0 0 0 / 50%);
}

.feats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  /* margin-bottom: 6rem; */
  /* gets the element with the "projects-grid" class (a div), and sets its display to "grid".  
  /* "grid-template-columns" basically determines the layout of all the columns. In this case, it uses auto-fit to fit any amount of squares on the screen, so long as they can fit. All the squares that cannot fit get pushed down to other columns. The squares can shrink down to a minimum of 320px, and a max of 1 fraction each.
  "width: 100%" makes sure the columns take up the entire width of the screen 
  "margin-bottom: 6rem" determines the amount of space below the grid*/
}


